 <div class="abr-container ">
  <div class="grid_9">
      <div id="mainbody">
          <div class="article">
           <div class="headline">
              <h1 class="article-title green">Visualizar</h1>
              <div class="clear"></div>
            </div>

            <p>
              <b>Nome:</b>
              <%= @contact.name %>
            </p>

            <p>
              <b>E-mail:</b>
              <%= @contact.email %>
            </p>

            <p>
              <b>Assunto:</b>
              <%= @contact.subject %>
            </p>

            <p>
              <b>Mensagem:</b>
              <%= @contact.message %>
            </p>

             <%= link_to 'Voltar', contacts_path %>

         </div>
      </div>
   </div>
	  <!--fim grid_9  -->
	<div class="clear"></div>
</div>

