<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <title>Alkkmya Software Studio</title>

  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="icon" type="image/png" href="/icon.png" />
  <meta name="keywords" content="java, ruby,python, .NET, implementação, consultoria, software, desenvolvimento, cloud, desenvolvimento de sistemas, marketing para internet, metodologias ageis, lean, kanban, scrum, xp, web standards, links patrocinados" http-equiv="keywords" />
  <meta name="description" content="Alkkmya e um alteliê de software com atuação em todo Brasil, com foco na qualidade e retorno de investimento" http-equiv="description" />
  <meta name="classification" content="Ateliê de Software, Consultoria, Desenvolvimento de Sistemas e Marketing para Internet" />
  <meta name="rating" content="general" />
  <meta name="robots" content="index,follow">
  <meta name="revisit-after" content="7 days">
  <meta name="category" content="internet">
  <meta name="author" content="Alkkmya Software Studio" />

  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'common' %>
  <%= stylesheet_link_tag 'color' %>
  <%= stylesheet_link_tag 'css' %>
  <%= stylesheet_link_tag 'nivo-slider' %>
  <%= javascript_include_tag :all %>

  <%= csrf_meta_tag %>

  <!--[if IE ]>
    <%= stylesheet_link_tag 'ie' %>
  <![endif]-->

   <script type="text/javascript">
      $(window).load(function() {
          $('#slider').nivoSlider({
           effect:'random',
            slices:15,
            animSpeed:500,
            boxCols: 8, // For box animations
            boxRows: 4, // For box animations
            pauseTime:3000, // How long each slide will show
            directionNav:false,
            directionNavHide:false,
            controlNav:false,
            controlNavThumbs:false,
            controlNavThumbsFromRel:false,
            keyboardNav:false,
            pauseOnHover:false,
            manualAdvance:false,
            captionOpacity:0.8,
            beforeChange: function(){},
            afterChange: function(){},
            slideshowEnd: function(){},
            lastSlide: function(){},
            afterLoad: function(){}
          });
      });
    </script>

</head>

<body>
  <!-- include header and menu -->
  <%= render :partial => 'layouts/header'%>
  <div class="headerFix"></div>

  <div class="homepage">
      <%= yield %>

  </div>
   <!-- end home page -->

  <div class="clear"></div>

  <div id="bottom">
    <div class="abr-container">
      <%= render :partial => 'home/last'%>
      <div class="clear"></div>
    </div>
    <!-- fim abr-container -->

    <!-- include footer -->
    <%= render :partial => 'layouts/footer'%>

  </div>
  <!-- end bottom -->

</body>

</html>

